/*
Color Palette
background color:  #495C83
font color:        #7A86B6
secondary color:   #A8A4CE
tertiary color:    #C8B6E2
Colors From https://colorhunt.co 
Palette is https://colorhunt.co/palette/495c837a86b6a8a4cec8b6e2
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

html {
    font-size:62.5%;    /* Default font size is 16px- 62.5% of 16 is 10px -
                           1 rem (relative unit) now will be equivalent to 10px */ 
}

header {
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: #000;
}

button {
    width: auto;
    background-color: #808080;
    padding: 0.6rem;
    border: 1px solid #808080;
    border-radius: 10rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 0.4rem;
    font-size: 1.6rem;
}

button a {
    text-decoration: none;
    color: #FF2D00;
}

.headerSpan {
    width: auto;
    border-radius: 1rem;
    padding: 1rem;
    color: #FF2D00;
    border: 1px solid #808080;
    background-color: #808080;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.socials {
    font-family: 'Noto Serif', serif;
    font-size: 1.6rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    height: auto;
    background: #808080;
    width: 35%;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.wpfp {
    max-width: 45%;
    border: 0.4rem solid #495C83;
    border-radius: 10rem;
}

.discord {
    font-size: 2rem;
}

@media (min-width: 800px) {
    .container {
      width: 43%;
    }
}